html {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #181d1d ;
    color: #fafafa;
    font-family: 'Philosopher', sans-serif;
}

h1, h2, h5 {
    font-family: 'Lora', serif;
}

ul {
    list-style: none ;
    padding: 0;
}

nav, footer, .modal-header{
    background: linear-gradient(180deg, #255AAA 0%, rgba(0, 0, 0, 0.57) 100%), #255AAA;
}

footer {
    height: 144px;
}

main {
    min-height: 80vh;
}

a, a:hover {
    color: inherit;
    text-decoration: none;
  }

.logo {
    font-family: 'Lora', serif;
    font-size: 1.25rem;
    color: rgb(230, 230, 230);
    margin-bottom: 5px;
    
}

.navbar {
    padding: 0 5px;
}

.nav-link {
    font-family: 'Lora', serif;
    color: white;
}

.nav-link:hover {
    color: rgb(207, 207, 207); 
    text-shadow: 1px 1px 5px black;
}

.jumbotron {
    background: url(/img/rehearsal-hero.jpg) center no-repeat;
    background-size: cover;
    min-height:40vh;
}

.container {
    max-width: 1000px
}

.hero-container {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.hero-text {
    font-size: 3.5rem;
}


.copywrite {
    font-family: 'Lora', serif;
    text-align: center;
    color:  rgb(230, 230, 230);
    margin-top: 35px;
    margin-bottom: 0;
}

.card-header {
    background: linear-gradient(180deg, #255AAA 0%, rgba(0, 0, 0, 0.57) 100%), #255AAA;
}

.day-of-week {
    padding: 0 4px;
}

.social-icon {
    padding: 2px 5px;
}

.row-content {
    padding: 20px;
}